@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Nunito:wght@200;400;500;600;700;800&display=swap');
.form{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 5px 2px;
    margin: 2px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Nunito Sans', sans-serif;
    
}