@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Nunito:wght@200;400;500;600;700;800&display=swap');

.body{
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 95%;
    position: sticky;
}
.navbar ul{
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 30px;
    
 
}
.navbar ul a{
    text-decoration: none;
    margin-left: 10px;
    color: #240046;
    font-weight: 600;
    font-size: 16px;
    
}
#connect{
    color: #FF5C00;
}
a:focus{
    background-color: antiquewhite;
    
}
.logout_btn button{
    
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
}
.navbar{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
#logo{
    height: 10vh;
    width: 10vh;
}
.logo{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    #logo{
        height: 5vh;
        width: 5vh;
        margin-left: 20px;
    }
}
