@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Nunito:wght@200;400;500;600;700;800&display=swap');

.body{
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.navbar ul{
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 30px;
    
 
}
.navbar ul a{
    text-decoration: none;
    margin-left: 10px;
    color: blueviolet;
    font-weight: 400;
    
}
