
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Nunito:wght@200;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #e4c3f7;
}

.body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center; 
    background-color: #e0aaff; 
}

.leaflet-container{
    width: 100vw;
    height: 100vh;
}
