
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Nunito:wght@200;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    /* background-color: #e4c3f7; */
}

.body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center; 
    
    
}

.leaflet-container{
    width: 100%;
    height: 80vh;
}

.popup img{
    height: 10vh;
    width: 10vh;
    align-items: center;
    display: flex;
    margin-left: 10px;
}
.popup{
    background-color: blueviolet;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffefe;
    height: 100vh;
    width: 100%;
    padding: 20px;
}
.homeImage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeImage img{
    height: auto;
    width: 50%;
}
.classbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: 100%;
    
}
.classbtn button{
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 5px;
    width: 30%;
}
.home input{
    border-radius: 5px;
    border: solid 1px;
    padding: 3px;
    margin-inline: 4px;
    margin-top: 8px;
}
.hero{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h2{
    color: #3c096c;
    font-size: 30px;
}
.hero p{
    font-weight: 200;
    color: rgb(36, 122, 203);
}
.homediv{
    background-color: #240046;
    color: white;
    /* display: flex;
    justify-content: space-evenly; */
    margin-top: 1rem;
    padding-top: 2rem;
    text-align: center;
    height: 100vh;
}
.homediv1{
    background-color: #240046;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding-top: 2rem;
    text-align: center;
    
}
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(45, 40, 50);
    color: rgb(255, 255, 255);
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 8px;
    border: #ffffff solid 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.quote p h5 {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.quote h5{
    color: rgb(241, 141, 0);
}
.classbtn span{
    color: blueviolet;
    cursor: pointer;
    font-weight: 700;
}
.error{
    color: red;
    font-size: 12px;
    text-align: center;
    align-items: center;
}
.sign_form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect{
    font-size: 30px;
    font-weight: 700;
    display: block;
    text-align: left;
    color: #fbad04;
    line-height: 40px;
    margin-bottom: 15px;
}

.description, .simple{
    display: block;
    text-align: left;
}
.ratings{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 10px;
}
.ratings div{
    border: #eeab1c solid 2px;
    padding: 10px;
    border-radius: 10px;
    margin: 6px;
}
.leaflet-popup-content-wrapper {
    color: #240046;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.error_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}











@media (max-width: 600px) {
    .sign_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home{
        justify-content: center;
    }
    .homeImage{
        width: 100vh;
        height: 100;
    }
    .leaflet-popup-content-wrapper{
        height: fit-content;
        width: fit-content;
    }
    
}

