
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Nunito:wght@200;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    /* background-color: #e4c3f7; */
}

.body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center; 
    
}

.leaflet-container{
    width: 100vw;
    height: 100vh;
}

.popup img{
    height: 10vh;
    width: 10vh;
    align-items: center;
}
.popup{
    
    justify-content: center;
    align-items: center;
    height: auto;
    width: 30vh;
    color: blueviolet;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffefe; 
}
.homeImage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeImage img{
    height: 30%;
    width: 70%;
}
.classbtn{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.classbtn button{
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 3px 4px 5px;
    padding: 3px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    margin-top: 4px;
}
.home input{
    border-radius: 5px;
    border: solid 1px;
    padding: 3px;
    margin-inline: 4px;
}
.hero{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h2{
    color: #3c096c;
    font-size: 30px;
}
.hero p{
    font-weight: 200;
    color: rgb(36, 122, 203);
}